@import url(https://fonts.googleapis.com/css2?family=Mukta:wght@200;

300;400;500;600;700;800&display=swap);*,
*::before,
*::after {
  box-sizing: border-box;
}

.container,
.container-fluid {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.left {
  margin-right: auto;
  text-align: left;
  vertical-align: middle;
}

.center {
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
}

.right {
  margin-left: auto;
  text-align: right;
  vertical-align: middle;
}

.ml-auto {
  margin-left: auto;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding: 0 15px;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.col-1 {
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }

  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-sm-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-sm-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-sm-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-sm-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-sm-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-sm-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-sm-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-md-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-md-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-md-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-md-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-md-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-md-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-lg-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-lg-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-lg-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-lg-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-lg-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-lg-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-xl-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-xl-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-xl-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-xl-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-xl-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-xl-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-xl-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-xl-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/*==================
    Menu List
=================*/

@-webkit-keyframes moveUp {
  from {
    top: 120%;
  }

  to {
    top: 100%;
  }
}

@keyframes moveUp {
  from {
    top: 120%;
  }

  to {
    top: 100%;
  }
}

@-webkit-keyframes moveUp_gray {
  from {
    top: 175%;
  }

  to {
    top: 145%;
  }
}

@keyframes moveUp_gray {
  from {
    top: 175%;
  }

  to {
    top: 145%;
  }
}

@-webkit-keyframes moveRightUp {
  from {
    top: 20%;
  }

  to {
    top: 0;
  }
}

@keyframes moveRightUp {
  from {
    top: 20%;
  }

  to {
    top: 0;
  }
}

/*==================
    Come in List
=================*/

@-webkit-keyframes come-in {
  to {
    transform: translateY(0);
  }
}

@keyframes come-in {
  to {
    transform: translateY(0);
  }
}

/* ==============
    card html
==============*/

body,
html {
  padding: 0;
  margin: 0;
  font-family: "Mukta", sans-serif;
  font-size: 16px;
  line-height: 1.7;
}

figure {
  margin: 0;
}

/*=================
    Header
==================*/

.section-header {
  width: 100%;
}

.text-danger {
  color: red;
}

.padding-tb {
  padding-top: 41.886784px;
  padding-bottom: 41.886784px;
}

.padding-tb-sm {
  padding-top: 16px;
  padding-bottom: 16px;
}

.border-b {
  border-bottom: 1px solid #d5d5d5;
}

.ml-auto {
  margin-left: auto;
}

/*==============
     box-logo
==============*/

.box-logo {
  border: 2px solid #0d0d0d;
  display: inline-block;
}

.box-logo__text {
  margin: 0;
  padding: 6.1117129451px;
  text-transform: uppercase;
  letter-spacing: 3.7773256768px;
  line-height: 1.15;
  font-size: 20px;
  font-weight: 200;
}

.text-line {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0px 10px;
}

.text-line-camp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding: 0px 10px;
  text-align: left;
}

/* ==============
     box-input
==============*/

.box-input {
  position: relative;
  display: inline-block;
}

.box-input__text {
  display: inline-block;
  padding: 10px 10px 10px 30px;
  border: none;
  outline: none;
  transition: padding 0.35s ease-in;
  font-size: 16px;
}

.box-input__text:focus {
  padding-left: 20px;
  transition: padding 0.35s ease-out;
}

.box-input__icon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  opacity: 0.5;
  color: #0d0d0d;
}

/*==============
 btn--icon
 =============*/

.btn-icon {
  display: inline-block;
  margin: 9.8887515451px;
}

.btn-icon--badge {
  position: relative;
}

.btn-icon--badge small {
  display: inline-flex;
  position: absolute;
  bottom: 80%;
  left: 50%;
  border-radius: 50%;
  background-color: #7d79f2;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  width: 25.888px;
  height: 25.888px;
  transition: top 0.35s ease-out;
}

.btn-icon--badge:hover small {
  bottom: 90%;
  transition: bottom 0.1s ease-in;
}

.btn-icon i {
  opacity: 0.5;
  font-size: 16px;
}

.btn-icon:hover i {
  opacity: 1;
}

/*==============
  menu list
 =============*/

a {
  text-decoration: none;
  color: #0d0d0d;
}

.menu-list .active > a {
  color: #7d79f2;
}

.menu-list ul,
.menu-list li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-list .menu-list__item {
  position: relative;
  text-transform: uppercase;
  display: inline-block;
  padding: 16px;
}

.menu-list .menu-list__item__icon {
  position: absolute;
  right: 16px;
  opacity: 0.5;
}

.menu-list--child {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  width: 200%;
  z-index: 999;
  background-color: #ffffff;
  border-top: 2px solid #7d79f2;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
}

.menu-list--child--right {
  top: 0;
  left: 100%;
  width: 100%;
}

.menu-list--child .menu-list__item:hover .menu-list--child--right {
  -webkit-animation-name: moveRightUp;
          animation-name: moveRightUp;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  display: block;
}

.menu-list--child .menu-list__item {
  text-transform: capitalize;
  display: block;
  opacity: 0.6;
  font-weight: 400;
  text-align: left;
  padding: 9.8887515451px 16px;
}

.menu-list--child .menu-list__item:hover {
  background-color: #f4f5f9;
  opacity: 1;
}

.menu-list--child .menu-list__item:hover > a {
  color: #0d0d0d;
}

.menu-list__item:hover > .menu-list--child {
  -webkit-animation-name: moveUp;
          animation-name: moveUp;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  display: block;
}

.menu-list__item:hover > a {
  color: #7d79f2;
}

/*==============
  button
 =============*/

.btn-default {
  display: inline-block;
  cursor: pointer;
  padding: 16px 25.888px;
  background-color: #7d79f2;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
  transition: background 0.35s, transform 0.35s;
}

.btn-default:hover {
  box-shadow: 0 5px 20px -7px rgba(0, 0, 0, 0.9);
  background-color: #4f45e3;
  transform: translateY(-5%);
  transition: background 0.35s, transform 0.35s;
}

.btn-default--full {
  width: 100%;
}

.btn-default--white {
  background-color: white;
  color: #7d79f2;
  border: 1px solid #7d79f2;
}

.btn-default--white:hover {
  box-shadow: 0 5px 20px -7px rgba(0, 0, 0, 0.9);
  background-color: #7d79f2;
  color: white;
  transform: translateY(-10%);
  transition: background 0.35s, transform 0.35s;
}

.btn-default--gray {
  background-color: #e6e7e9;
  padding: 9.8887515451px;
  color: #0d0d0d;
  letter-spacing: 1px;
  font-weight: 300;
}

.btn-default--gray:hover {
  box-shadow: 0 5px 20px -7px rgba(0, 0, 0, 0.9);
  background-color: #e6e7e9;
  transform: translateY(-10%);
  transition: background 0.35s, transform 0.35s;
}

/*==============
  section-banner
 =============*/

.section-banner {
  display: flex;
  background-color: #a6f3ed;
  padding: 67.772816512px 0;
  vertical-align: middle;
}

.section-banner img {
  min-height: 600px;
}

.section-banner .col-6 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-banner h1 {
  width: 80%;
  font-size: 67.772816512px;
  padding: 0;
  margin: 0;
}

.section-banner p {
  width: 50%;
  font-size: 16px;
}

/*==============
  section-feature
 =============*/

.rotateY {
  transform: rotateY(180deg);
}

.section-featured .featured__icon {
  display: inline-block;
  font-size: 41.886784px;
  color: #7d79f2;
}

.section-featured .featured h3 {
  margin-top: 0;
  font-weight: 500;
}

.section-featured .featured p {
  opacity: 0.6;
}

/*===================
  section-collection
 ===================*/

.collection {
  position: relative;
  overflow: hidden;
  display: inline-block;
  height: 460px;
  transition: transform 0.5s;
}

.collection img {
  width: 100%;
  height: auto;
}

.collection__text {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #ffffff;
  padding: 0 5%;
}

.collection__text h5 {
  margin: 9.8887515451px 0;
  text-transform: uppercase;
}

.collection__text h1 {
  margin: 9.8887515451px 0;
  font-size: 41.886784px;
  text-transform: capitalize;
}

.collection:hover img {
  transform: scale(1.1);
  transition: transform 0.5s;
}

/*===================
  section-product
 ===================*/

.section-product {
  background-color: #f8f9fa;
}

.section-title {
  position: relative;
  font-size: 41.886784px;
}

.section-title::before {
  content: "";
  position: absolute;
  border-top: 3px solid #7d79f2;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 41.886784px;
}

.box-product {
  text-align: center;
  display: inline-block;
  background-color: white;
  border: 1px solid #d5d5d5;
  width: 350px;
  margin: 0;
}

.box-product img {
  width: 100%;
  height: auto;
}

.box-product h3 a {
  color: #7d79f2;
}

.box-product p {
  color: #d5d5d5;
}

.box-product .box-product__price {
  font-weight: bolder;
  color: #7d79f2;
}

.section-product__icon {
  font-size: 41.886784px;
  font-weight: 900;
  margin: 25.888px 20px;
  cursor: pointer;
}

.slide--none {
  display: none;
}

.row--nowrap {
  flex-wrap: nowrap;
  overflow-x: hidden;
}

@media (max-width: 576px) {
  .slide {
    margin: 0 67.772816512px;
  }
}

/*===================
  section-big-sale
 ===================*/

.section-big-sale img {
  width: 100%;
  height: auto;
}

.section-big-sale__content {
  margin: auto 0;
  color: #d5d5d5;
  text-align: center;
}

.section-big-sale__content h3 {
  color: #7d79f2;
  font-size: 41.886784px;
  margin: 0;
  padding: 0;
}

.section-big-sale__content__author {
  color: #7d79f2;
}

/*==============
  section-tree
 =============*/

.section-tree {
  background-color: #f9f9f9;
  margin-bottom: 67.772816512px;
}

.section-tree .tree-select {
  color: #0d0d0d;
  font-size: 16px;
  font-weight: 400;
}

.section-tree .tree-home {
  color: #7d79f2;
}

/*==================
  section-shop-main
===================*/

.widget {
  border: 1px solid #d5d5d5;
  padding: 0 16px;
  border-radius: 10px;
  margin-bottom: 16px;
}

.widget__row {
  display: flex;
  width: 100%;
  align-items: center;
}

.widget__row h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.8;
}

.widget__row p {
  margin-top: 0;
  margin-bottom: 0;
}

.widget__row .text-bold {
  font-weight: 900;
}

.widget .category-item {
  color: #7d79f2;
  opacity: 1;
}

.circle {
  display: inline-block;
  width: 16px;
  border-radius: 50%;
  height: 16px;
  margin-right: 9.8887515451px;
}

.circle--red {
  background-color: #dc3545;
}

.circle--green {
  background-color: #28a745;
}

.circle--blue {
  background-color: #17a2b8;
}

.circle--purple {
  background-color: #7971ea;
}

.shop-content-checkbox {
  position: relative;
}

.shop-content-checkbox .menu-list.menu-list--child {
  border: none;
  width: 150%;
  left: 0;
  top: 145%;
}

.shop-content-checkbox input[type=checkbox]:checked ~ .menu-list.menu-list--child {
  -webkit-animation-name: moveUp_gray;
          animation-name: moveUp_gray;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  display: block;
}

.shop-content-checkbox input[type=checkbox]:checked + .btn-default--gray {
  background-color: #545b62;
  color: white;
}

.title-shop {
  font-weight: 400;
  margin: 0;
}

.shop-content {
  margin: 25.888px 0;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.shop-content .box-product {
  width: 250px;
}

.pagination {
  display: inline-flex;
  margin: 9.8887515451px 0;
}

.pagination ul,
.pagination li {
  list-style: none;
  margin: 0;
}

.pagination li {
  color: black;
  padding: 7px 16px;
  text-decoration: none;
}

.pagination li.active {
  background-color: #7d79f2;
  color: white;
  border-radius: 50%;
}

.pagination li:hover:not(.active) {
  background-color: #ddd;
  border-radius: 50%;
}

/*===================
  input group
 ===================*/

.input-group {
  display: inline-flex;
}

.input-group__pre {
  display: inline-block;
  padding: 6.1117129451px 16px;
  margin: 0;
  border: 1px solid #7d79f2;
  border-radius: 10px 0 0 10px;
  color: #7d79f2;
  font-weight: bolder;
  cursor: pointer;
  transition: background 0.35s, transform 0.35s;
}

.input-group__pre--right {
  border-radius: 0px 10px 10px 0px;
  order: 3;
}

.input-group__pre:hover {
  box-shadow: 0 5px 20px -7px rgba(0, 0, 0, 0.9);
  background-color: #4f45e3;
  transform: translateY(-10%);
  transition: background 0.35s, transform 0.35s;
}

.input-group__display {
  width: 50px;
  padding: 6.1117129451px 0;
  margin: 0;
  border: 1px solid rgba(125, 121, 242, 0.5);
  outline: none;
  text-align: center;
}

.input-group__display:focus {
  border: 1px solid #7d79f2;
}

.input-group__display::-webkit-inner-spin-button {
  display: none;
}

/*===================
    section-detail
 ===================*/

.section-detail img {
  width: 100%;
  height: auto;
}

.section-detail__title {
  display: block;
  font-size: 41.886784px;
  margin-top: 0;
  margin-bottom: 10px;
}

.section-detail__desc {
  display: block;
  opacity: 0.6;
}

.section-detail__price {
  display: block;
  font-size: 25.888px;
  color: #7d79f2;
}

.section-detail__size {
  display: flex;
}

.section-detail__size .size-item {
  padding: 6.1117129451px;
  cursor: pointer;
}

.section-detail .input-group {
  margin-bottom: 25.888px;
}

/*===================
  section-cart
 ===================*/

.table-box {
  width: 100%;
  overflow-x: scroll;
}

.table-full {
  width: 100%;
  min-width: 800px;
  border-collapse: collapse;
}

.table-full img {
  vertical-align: middle;
}

.table-full th {
  padding: 25.888px;
}

.table-full tr,
.table-full th,
.table-full td {
  border: 1px solid #d5d5d5;
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;
  padding: 9.8887515451px;
}

.text-coupon h3 {
  margin-bottom: 0;
}

.text-coupon p {
  margin-top: 0;
  opacity: 0.6;
}

/*===================
  section-footer
 ===================*/

.section-footer__title {
  font-size: 25.888px;
  font-weight: 500;
}

.section-footer a {
  color: #0d0d0d;
  opacity: 0.7;
}

.section-footer ul,
.section-footer li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section-footer img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.section-footer img + h3 {
  color: #7d79f2;
  font-weight: 300;
}

.section-footer img ~ p {
  color: #0d0d0d;
  opacity: 0.7;
}

.section-footer i {
  color: #7d79f2;
}

.section-footer form {
  margin: 16px 0;
}

.section-footer form label {
  font-size: 25.888px;
  font-weight: 200;
}

.section-footer .copy-right {
  color: #0d0d0d;
  opacity: 0.7;
}

.form-group {
  position: relative;
  display: inline-block;
  width: 100%;
}

.form-group__input {
  width: 100%;
  padding: 20px;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  outline: none;
}

.form-group__btn {
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
  padding: 16px 6.1117129451px;
  border: none;
  cursor: pointer;
}

/*==================
    Come in List
=================*/

.come-in {
  transform: translateY(150px);
  -webkit-animation: come-in 0.8s ease forwards;
          animation: come-in 0.8s ease forwards;
}

.p-5 {
  padding: 25.888px;
}

